---
layout: default
lang: en
ref: posts
---

<div class="container posts">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="post-list">
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
          <li>
            <div class="row post-meta">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <h5 class="post-title">
                  {{ post.title }}
                </h5>
              </a>
              <div class="post-date">
                <i class="fa fa-calendar-alt"></i>
                  {{post.date | date: "%b %-d, %Y" }}
              </div>
            </div>
            <div class="row post-meta">
              <div class="post-tags">
                <i class="fas fa-hashtag"></i>
                {% for item in post.categories %}
                  <div class="post-tag">
                    {{ item }}
                  </div>
                {% endfor %}
              </div>
              <div class="post-lang">
                <i class="flag-icons {{ page.lang }}"></i>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
