.jumbotron {
  background-color: #fff;
  margin-bottom: 0rem;
}

.card-icon {
  padding-top: 1.25rem;
}

section:before {
    height: 54px;
    content: "";
    display:block;
}

.main {
  margin-bottom: -54px;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  font-size: 0.8rem;
}

.social-links {
  color: #828282;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  list-style: none;
}

.social-media-list li {
  float: left;
  margin: 5px 10px 5px 0;
}

.social-media-list li a {
  display: block;
  padding: 7.5px;
  border: 1px solid #e8e8e8;
}

.social-media-list a:visited {
  color: #1756a9;
}

.social-media-list a {
  color: #2a7ae2;
  text-decoration: none;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.grey {
  color: #828282;
}

.about-form {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-link .flag-icons {
  margin-top: 4px;
}

a.nav-link {
  filter: grayscale(1);
}

a.tr:lang(tr) {
  filter: grayscale(0);
}

a.en:lang(en) {
  filter: grayscale(0);
}

a.nav-link:hover {
  filter: grayscale(0);
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-list>li {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.post-list>li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-link {
  color: #999;
  text-decoration: none;
  transition: border-bottom 0.4s;
}

.post-title {
  color: #222;
  transition: color .3s ease;
  margin: .1em 0;
}

.post-title:hover {
  color: #999;
}

a.post-link:hover {
  border-bottom-style: none;
  text-decoration: none;
}

.post-date {
  color: #999;
}

.post-date .fa-calendar-alt {
  margin-right: 6px;
}

.container.posts {
  margin-top: 30px;
}

.posts .row {
  margin-right: 0px;
  margin-left: 0px;
}

.post-tags {
  display: inline-flex;
}

.post-tag {
  margin-right: 5px;
  color: #999;
}

.post-tags .fas {
  margin-top: 4px;
  margin-right: 3px;
}
